<?xml version="1.0" encoding="utf-8"?>

<config>
	<modules>
		<Df_DFraudIntegration>
			<version>1.0.1</version>
		</Df_DFraudIntegration>
	</modules>
	<global>
		<models>
			<dfraudintegration>
				<class>Df_DFraudIntegration_Model</class>
				<resourceModel>dfraudintegration_resource</resourceModel>
			</dfraudintegration>
			<dfraudintegration_resource>
				<class>Df_DFraudIntegration_Model_Resource</class>
				<entities>
					<dfraud>
						<table>dfraud</table>
					</dfraud>
					<highriskcountries>
						<table>dfraud_highrisk_countries</table>
					</highriskcountries>
					<scores>
						<table>dfraud_score</table>
					</scores>
				</entities>   
			</dfraudintegration_resource>
		</models>
		<helpers>
			<dfraudintegration>
				<class>Df_DFraudIntegration_Helper</class>
			</dfraudintegration>
		</helpers>
		<resources>
			<dfraudintegration_setup>   
				<setup>
					<module>Df_DFraudIntegration</module>
					<class>Df_DFraudIntegration_Model_Resource_Setup</class>
				</setup>
			</dfraudintegration_setup>
		</resources>
		<blocks>
			<dfraudintegration>
				<class>Df_DFraudIntegration_Block</class>
			</dfraudintegration>
		</blocks>
		<remote_addr_headers><!-- list headers that contain real client IP if webserver is behind a reverse proxy -->
            <header1>HTTP_X_FORWARDED_FOR</header1>
            <header2>HTTP_X_REAL_IP</header2>
            <header3>REMOTE_ADDR</header3>
		</remote_addr_headers>
		<events>
			<!--<checkout_type_onepage_save_order_after>-->
			<sales_order_place_after>
				<observers>
					<send_request_to_subuno>
						<type>singleton</type>
						<class>Cartform_SubunoIntegration_Controller_Observer</class>
						<method>sendRequestToSubuno</method>
					</send_request_to_subuno>
				</observers>
			</sales_order_place_after>  
			<!--</checkout_type_onepage_save_order_after>  -->
		</events>
	</global>
	<admin>
		 <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Df_DFraudIntegration before="Mage_Adminhtml">Df_DFraudIntegration_Adminhtml</Df_DFraudIntegration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	 <adminhtml>
		<layout>
			<updates>
				<adminhtml_dfraudintegration>
					<file>dfraudintegration.xml</file>
				</adminhtml_dfraudintegration>
			</updates>
			
		</layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dfraudintegration_options>
                                            <title>DFraud Interation</title>
                                        </dfraudintegration_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<translate>
			<modules>
				<Df_DFraudIntegration>
					<files>
						<default>Dh_DFraudIntegration.csv</default>
					</files>
				</Df_DFraudIntegration>
			</modules>
		</translate>
    </adminhtml>
	<default>
		<dfraudintegration_options>
			<basic_settings>
				<licence_key>123456</licence_key>
			</basic_settings>
			<dfraud_module_settings>
				<maximum_order_amount>100</maximum_order_amount>			
				<maximum_distance>200</maximum_distance>			
			</dfraud_module_settings>
		</dfraudintegration_options>
    </default>
	
</config>